# Hide editor settings
.vscode/settings.json

# Hide node_modules
node_modules

# Hide build directory
dist

# Hide environment variables
.env
yarn-error.log

# Hide secret files
secret
# secret/private_key.pem
# secret/public_key.pem
